[submodule "host-guest-shm/qemu"]
	path = host-guest-shm/qemu
	url = https://github.com/iaGuoZhi/qemu
[submodule "host-guest-shm/host"]
	path = host-guest-shm/host
	url = https://github.com/iaGuoZhi/linux
[submodule "host-guest-shm/guest"]
	path = host-guest-shm/guest
	url = https://github.com/iaGuoZhi/linux
[submodule "in_order/qemu"]
	path = in_order/qemu
	url = https://github.com/iaGuoZhi/qemu
[submodule "in_order/guest"]
	path = in_order/guest
	url = https://github.com/iaGuoZhi/linux
[submodule "in_order/host"]
	path = in_order/host
	url = https://github.com/iaGuoZhi/linux
